// Fonts
$mainFont: 'Roboto', sans-serif;

// Text colors
$main-text-color: #000000;
$secondary-text-color: #ffffff;
$accentColor: #ff6a00;

$filmDetails-text-color: #8c8c8c;

//Bg colors
$headerBG-color: #121212;
$footerrBG-color: #121212;

$bodyBg-color: linear-gradient(
  109.56deg,
  rgba(27, 17, 56, 0.96) 70%,
  #000000 100%
);

$detailsList-informationColor: #ff6a00;

$hover-focusBG-color: #f59133;
