<header class="header">
  <a href="" class="link logo"></a>
  <form class="header__form">
    <button type="button" class="btn header__search-more">All</button>
    <input
      type="text"
      class="header__input"
      name="search"
      placeholder="Movie search"
    />
    <button type="submit" class="btn header__submit-btn">
      submit
      <svg class="header__icon" width="24" height="24">
        <use></use>
      </svg>
    </button>
    <nav class="navbar">
      <ul class="list navbar__list">
        <li class="navbar__item">
          <button type="button" class="navbar__btn">Watchlist</button>
        </li>
        <li class="navbar__item">
          <button type="button" class="navbar__btn">Sign in</button>
        </li>
        <li class="navbar__item">
          <button type="button" class="navbar__btn"></button>
        </li>
        <li class="navbar__item">
          <button type="button" class="navbar__btn"></button>
        </li>
        <li class="navbar__item">
          <button type="button" class="navbar__btn"></button>
        </li>
      </ul>
    </nav>
  </form>
</header>
