<main>
    <section class="section-main">
      <div class="container">
        <h1 class="visually-hidden">Filmoteka</h1>
      <div class="swiper">
        <h2 class="title swiper__title">Top cast</h2>
        <ul class="list swiper-wrapper"></ul>
      </div>
      </div>
      <div class="popular-box">
       <h2 class="title popular-box__title">Featured today</h2>
      <ul class="popular-list list">
      </div>
      </ul>
      <div class="container">
        <ul class="pagination-list list">
       </ul>
      </div>
    </section>
  </div>
</main>
