<main>
    <section class="section-main">
      <div class="container">
        <h1 class="visually-hidden">Filmoteka</h1>
      <div class="swiper">
        <h2 class="title swiper__title">Top cast</h2>
        <ul class="list swiper-wrapper"></ul>
      </div>
      </div>
      <div class="popular-box">
       <h2 class="title popular-box__title">Featured today</h2>
      <ul class="popular-list list">
      </div>
      </ul>
      <div class="container">
        <ul class="pagination-list list">
          <li class="pagination-list__item pagination-list__arrow-backward" data-arrow="backward"><button type="button" class="pagination-list__button"><-</span></button></li>
    <li class="pagination-list__item pagination-list__first"><button type="button" class="pagination-list__button"><span>1</span></button></li>
    <li class="pagination-list__item pagination-list__backward-dots"><button type="button" class="pagination-list__button"><span class="pagination-list__backward-dots-span">...</span></button></li>
    <li class="pagination-list__item pagination-list__prev-page-item"><button type="button" class="pagination-list__button"><span class="pagination-list__prev-page">3</span></button></li>
    <li class="pagination-list__item pagination-list__active-prev-item"><button type="button" class="pagination-list__button"><span class="pagination-list__active-prev-page">4</span></button></li>
        <li class="pagination-list__item "><button type="button" class="pagination-list__button"><span class="pagination-list__active-page">5</span></button></li>
         <li class="pagination-list__item pagination-list__active-next-item"><button type="button" class="pagination-list__button"><span class="pagination-list__active-next-page">6</span></button></li>
          <li class="pagination-list__item pagination-list__next-item"><button type="button" class="pagination-list__button"><span class="pagination-list__next-page">7</span></button></li>
          <li class="pagination-list__item pagination-list__forward-dots"><button type="button" class="pagination-list__button"><span class="pagination-list__forward-dots-span">...</span></button></li>
    <li class="pagination-list__item"><button type="button" class="pagination-list__button"><span class="pagination-list__total-span"></span></button></li>
    <li class="pagination-list__item pagination-list__arrow-forward" data-arrow="forward"><button type="button" class="pagination-list__button"><span>-></span></button></li>
       </ul>
      </div>
    </section>
  </div>
</main>
