.registration-backdrop {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  &.is-hidden .registration-modal {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
}

.registration-modal {
  overflow-y: scroll;
  padding: 40px;
  padding-bottom: 40px;
  width: auto;
  height: 100vh;
  background-color: white;

  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

  @include tablet {
    overflow-y: hidden;
    height: auto;
  }
}

.registration-box__title {
}
.registration-form {
}
.registration-form__name {
}
.input {
}
.registration-form__email {
}
.registration-form__password {
}
.link {
}
.registration-form__forgot-password {
}
.registration-form__submit-btn {
}
.registration-box__bottom {
}
.registration-box__not-registered {
}
.registration-box__link-registration {
}
