.swiper {
  position: relative;
  max-width: 1200px;
  height: 400px;
}

.swiper-wrapper {
  margin-top: 20px;
}
.main-slider__img {
  cursor: pointer;
  object-fit: cover;
  min-width: 290px;
  height: 400px;

  @include tablet {
    min-width: 200px;
  }
}

.swiper-button-prev {
  position: absolute;
  left: 0;
  color: $accentColor;
}
.swiper-button-next {
  position: absolute;
  right: 0;
  color: $accentColor;
}
